* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   height: 5000px;
}

/* ======== Common ========= */
.btn {
   padding: 22px 41px;
   color: #FFF;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 600;
   border-radius: 14px;
   background: #1EBFC1;
   box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
   opacity: 0.8;
}

.main-content {
   width: 1170px;
   max-width: calc(100% -175px);
   margin-left: auto;
   margin-right: auto;
}

a {
   text-decoration: none;
}

/* ======== Header ========= */
header {
   position: sticky;
   z-index: 1;
   top: 7px;
}

header .body {
   display: flex;
   margin-top: 52px;
   align-items: center;

}

.navbar {
   margin-left: 215px;
}

.navbar ul {
   display: flex;
}

.navbar ul a {
   padding: 8px 19px;
   color: #2F3A3B;
   font-size: 1.6rem;
   font-family: Poppins;
   /* background-color: orange; */
}

.navbar ul a:hover {
   font-weight: 600;
}

header .action {
   margin-left: 148px;
   display: flex;
   align-items: center;
}

header .action .sign-in {
   padding: 8px 5px;
   color: #494949;
   font-size: 1.6rem;
}

header .action .sign-in:hover {
   font-weight: 600;
}

header .btn-action {
   margin-left: 19px;
   color: #1EBFC1;
   font-size: 1.6rem;
   font-weight: 600;
   border-radius: 6px;
   border: 1px solid #1EBFC1;
   padding: 12px 24px;
}

header .btn-action:hover {
   background-color: antiquewhite;
}

/* ======== Hero ========= */
.hero .main-content {
   display: flex;
   margin-top: 50px;
   justify-content: space-between;
   padding-bottom: 79px;
}

.hero .info {
   width: 458px;
   margin-top: 93px;
}

.hero .desc {

   color: #767E7E;
   font-size: 1.4rem;
}

.hero .title {
   margin-top: 18px;
   color: #0D1111;
   font-size: 6.2rem;
   font-weight: 1.16;
   font-weight: 700;
   line-height: 72px;
}

.hero .sub-title {
   margin-top: 46px;
}

.hero .action-block {
   display: flex;
   align-items: center;
   margin-top: 52px;
   gap: 50px;
}

.hero .play-btn img {

   width: 62px;
   height: 62px;
   object-fit: cover;
}

.hero .block-image .img-main {
   width: 576px;
   height: 631px;
   object-fit: cover;
}

.hero .block-image {
   position: relative;
}

.block-image .image-child-1 {
   position: absolute;
   padding: 18px 25px;
   background-color: #FFF;
   border-radius: 18px;
   background: #FEFEFD;
   box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
   top: 134px;
   left: -37px;
}

.block-image .image-child-2 {
   position: absolute;
   bottom: -30px;
   right: 430px;
}

.img-child-3 {
   position: absolute;
   border-radius: 24px;
   background: #FEFEFD;
   box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
   padding: 17px 35px;
   width: 190px;
   bottom: 60px;
   right: 70px;
}

.block-avatar {
   margin-top: 8px;
}

.block-avatar .avatar {
   width: 33px;
   height: 33px;
   object-fit: cover;
   border-radius: 50%;
   margin-left: -15px;
}

.img-child-3 .title-child {
   color: #0D1111;
   font-size: 10px;
   font-weight: 500;
}

/* ======== Feature ========= */
.feature {
   margin-top: 130px;
}

.fea-content {
   width: 1024px;
   margin-left: 259px;
   margin-right: auto;
}

.feature .sub-title {
   color: #767E7E;
   font-size: 1.2rem;
   font-weight: 700;
}

.feature .title {
   color: #0D1111;
   font-size: 4.2rem;
   font-weight: 700;
   line-height: 1.33;
   width: 577px;
   margin-top: 18px;
}

.feature .desc {
   display: flex;
   width: 590px;
   margin-top: 18px;
   flex-shrink: 0;
   color: #767E7E;
   font-size: 1.8rem;
}

.block-feature {
   display: flex;
   margin-top: 80px;
   justify-content: space-between;
}

.block-feature .icon {
   display: block;
}

.block-feature .sub-icon {
   display: block;
   margin-top: 26px;
   color: #0D1111;
   font-size: 2rem;
   font-weight: 600;
}

.block-feature .desc {
   width: 168px;
   margin-top: 16px;
}

/* ======== Course ========= */
.course {
   margin-top: 130px;
}

.course .sub-title {
   color: #767E7E;
   font-size: 1.2rem;
   font-weight: 700;
}

.course .title {
   color: #0D1111;
   font-size: 4.2rem;
   font-weight: 700;
   line-height: 1.33;
   width: 577px;
   margin-top: 18px;
}

.course .desc {
   width: 525px;
   margin-top: 18px;
   color: #767E7E;
   font-size: 18px;
}

.course .row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.course .row .link {
   color: #1EBFC1;
   font-size: 14px;
   font-weight: 700;
   text-decoration-line: underline;
}

.block-1,
.block-2,
.block-3 {
   width: 359px;
   height: 393px;
}

.course-block .image {
   width: 359px;
   height: 393px;
   object-fit: cover;
   border-radius: 8px;
   background: #D0EFED;
}

.course-block {
   margin-top: 79px;
   display: flex;
   gap: 47px;
}

.course-block .title {
   font-size: 2.2rem;
}

.course-block .block-1,
.course-block .block-2,
.course-block .block-3 {
   position: relative;
}

.course-block .info {
   position: absolute;
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
   padding: 18px 82px 29px 25px;
   width: 325px;
   bottom: -118px;
   left: 17px;
}

.course .info .price {
   margin-top: 16px;
}

.course .info strong {
   font-weight: 700;
}

.course .info .desc {
   margin-top: 6px;
   font-size: 1.4rem;
}

.course .row-last {
   margin-top: 18px;
   display: flex;
   align-items: center;
   gap: 10px;
}

.course .row-last .dot {
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: #1EBFC1;
}

/* ======== Stats ========= */
.stat {
   margin-top: 265px;
}

.stat .main-content {
   width: 862px;
   display: flex;
   gap: 200px;
}

.stat .number {
   color: #0D1111;
   text-align: center;
   font-size: 6.2rem;
   font-weight: 700;
}

.stat .desc {
   margin-top: 11px;
   color: #767E7E;
   text-align: center;
   font-size: 1.8rem;
}

/* ======== Feedbacks ========= */
.feedback .main-content {
   display: flex;
   margin-top: 264px;
   gap: 345px;
}

.feedback blockquote {
   width: 419px;
   color: #5D6564;
   font-size: 3.2rem;
   line-height: 1.5;
   margin-top: 27px;
}

.feedback .info span {
   color: #070707;
   font-size: 1.6rem;
   font-weight: 600;
}

.feedback .info .desc {
   margin-top: 33px;
   color: #5D6564;
   font-size: 1.2rem;
}

.feedback .row-btn {
   display: flex;
   gap: 30px;
   margin-top: 52px;
}

.block-image {
   position: relative;

}

.block-image .avatar-main {
   background-color: #1EBFC1;
   border-radius: 50%;
}

.avatar-child {
   width: 92px;
   height: 92px;
   border-radius: 50%;
   object-fit: cover;
}

.avatar-1 {
   position: absolute;
   top: -16px;
   left: -185px;
}

.avatar-2 {
   position: absolute;
}

.avatar-3 {
   position: absolute;
   top: 130px;
   right: -50px;
}

.avatar-4 {
   position: absolute;
   top: 280px;
   left: 50px;
}

.avatar-5 {
   position: relative;
   top: 80px;
   left: -400px;
}

/* ======== Ready ========= */
.ready {
   margin-top: 130px;
   padding-top: 76px;
   padding-bottom: 88px;
   background-color: #DEF6F5;
}

.ready .main-content {
   display: flex;
   gap: 410px;
   align-items: center;
}

.ready .title {
   color: #070707;
   font-size: 4.2rem;
   font-weight: 700;
}

.ready .desc {
   color: #767E7E;
   font-size: 1.8rem;
   margin-top: 18px;
}

/* ======== Footer ========= */
footer .block {
   margin-top: 130px;
   display: flex;
   gap: 144px;
   align-items: start
}

footer .title {
   color: #2E2E2E;
   font-size: 18px;
   font-family: Poppins;
   font-weight: 500;
}

footer a {
   display: block;
   margin-top: 25px;
   color: #535353;
   font-size: 1.6rem;
}

footer .desc {
   color: #B0B5B4;
   font-size: 1.8rem;
   margin-top: 80px;
   text-align: center;
}